@page
@model PTTKPM.Pages.MH_DangKy_SoGiaoThongModel
@{
}

<div class="alert" style="background: yellow; width:max-content; float: none; cursor:pointer; color: red" id="quayLai">
    <a href="/MH_DangKy_SoGiaoThong">@Model.chuoi  </a>
    <span class="closebtn" onclick="this.parentElement.style.display='none';" style="font-size:22px">&times;</span>
</div>

<div id="login">
    <form action="" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" value="@Model.email" minlength="" maxlength="50" required>
        <label for="password">Password</label>
        <input type="password" name="password" value="@Model.password" minlength="" maxlength="50" required>
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" name="confirmpassword" value="@Model.confirmpassword" minlength="" maxlength="50" required>

        <button type="button" class="btn-cancel" onclick="window.location.href='/Index'">Hủy</button>
        <button type="submit" class="btn-login">Đăng ký</button>
        <a href="/MH_DangNhap_SoGiaoThong"><i>Bạn có tài khoản rồi? Đăng nhập thôi!</i></a>
    </form>

</div>
